@import "rating.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight-color: #fbbf24;

  --color-amber-100: theme("colors.amber.100");
  --color-amber-200: theme("colors.amber.200");
  --color-amber-300: theme("colors.amber.300");
  --color-amber-400: theme("colors.amber.400");
  --color-amber-500: theme("colors.amber.500");
  --color-amber-600: theme("colors.amber.600");
  --color-amber-700: theme("colors.amber.700");
  --color-amber-800: theme("colors.amber.800");
  --color-amber-900: theme("colors.amber.900");
  --color-amber-950: theme("colors.amber.950");

  --color-slate-100: theme("colors.slate.100");
  --color-slate-200: theme("colors.slate.200");
  --color-slate-300: theme("colors.slate.300");
  --color-slate-400: theme("colors.slate.400");
  --color-slate-500: theme("colors.slate.500");
  --color-slate-600: theme("colors.slate.600");
  --color-slate-700: theme("colors.slate.700");
  --color-slate-800: theme("colors.slate.800");
  --color-slate-900: theme("colors.slate.900");
  --color-slate-950: theme("colors.slate.950");
}

@layer base {
  body {
    @apply min-h-full text-white;

    background-color: theme("colors.slate.900");
    background-image: linear-gradient(
      to right,
      theme("colors.slate.900"),
      theme("colors.slate.950"),
      theme("colors.slate.900")
    );
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .layout {
    @apply text-white;
    background-color: theme("colors.slate.900");
    background-image: linear-gradient(
      to right,
      theme("colors.slate.900"),
      theme("colors.slate.950"),
      theme("colors.slate.900")
    );
  }

  .main-gradient {
    background-color: rgba(15, 23, 42, 0.25);
    background-image: linear-gradient(
      to right,
      rgba(15, 23, 42, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(15, 23, 42, 0.5)
    );
  }

  .gradient-top-opaque {
    background-color: rgba(15, 23, 42, 0.25);
    background-image: linear-gradient(
      to bottom,
      rgba(2, 6, 23, 0),
      rgba(2, 6, 23, 0.8),
      theme("colors.slate.950")
    );
  }

  .backdrop-blur {
    -webkit-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);

    backdrop-filter: blur(4px);
  }

  .footer {
    @apply text-white;
  }

  .card {
    @apply overflow-hidden bg-slate-950;
  }

  .card-alt {
    @apply bg-slate-950 text-white;
  }

  .card-header {
    @apply flex items-center space-x-4;
    background: rgba(0, 0, 0, 0.25);
  }

  .card-body {
    @apply py-3;
  }

  .menu {
    @apply relative text-sm;
  }

  .menu div[role="menu"] {
    @apply bg-slate-800 py-1 text-sm text-white shadow-lg focus:outline-none;
  }

  .menu div[role="menu"].origin-top-right {
    @apply rounded-b rounded-tl;
  }

  .menu div[role="menu"].origin-bottom-right {
    @apply rounded;
  }

  .menu div[role="menu"] a,
  .menu div[role="menu"] button {
    @apply block w-full px-4 py-2 text-left hover:bg-slate-500;
  }

  .dialog {
    @apply fixed inset-0 z-10 min-h-screen overflow-y-auto text-center;
  }

  .dialog-panel {
    @apply relative h-screen min-h-full min-w-full overflow-hidden overflow-y-auto text-left;

    background-color: rgba(15, 23, 42, 1);
    background-image: linear-gradient(
      to right,
      rgba(15, 23, 42, 1),
      rgba(0, 0, 0, 1),
      rgba(15, 23, 42, 1)
    );
  }

  .range {
    @apply my-6 cursor-pointer appearance-none bg-inherit focus:outline-none;
  }

  .range::-webkit-slider-runnable-track {
    @apply h-1 rounded-lg bg-slate-700;
  }

  .range::-webkit-slider-thumb {
    @apply bg-highlight h-8 w-8 appearance-none rounded-lg;
    margin-top: -15px;
  }

  .range:focus::-webkit-slider-thumb {
    border: 1px solid theme(colors.slate[400]);
    outline: 3px solid theme(colors.slate[400]);
    outline-offset: 0.125rem;
  }

  .range::-moz-range-track {
    @apply h-1 rounded-lg bg-slate-700;
  }

  .range::-moz-range-thumb {
    @apply bg-highlight h-8 w-8 rounded-none border-0;
  }

  .range:focus::-moz-range-thumb {
    border: 1px solid theme(colors.slate[400]);
    outline: 3px solid theme(colors.slate[400]);

    outline-offset: 0.125rem;
  }
}
