.rating {
  position: relative;
  display: inline-flex;
  height: 2.5rem;
  flex-direction: row-reverse;
}

.rating-sm {
  height: 1.25rem;
}

.rating > div {
  display: inline-block;
  overflow: hidden;
  height: 2.5rem;
  width: 1.25rem;
}

.rating-sm > div {
  height: 1.25rem;
  width: 0.625rem;
}

.rating-half-2 {
  transform: scale(-1, 1);
}
