name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v2
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: Run docker images
        run: docker-compose up -d
      - name: Install system deps
        run: sudo apt-get -y update && sudo apt-get -y install libvips libvips-dev libc-dev fftw-dev gcc g++ make libc6 libheif-dev libde265-0 libpng-dev
      - name: Install node deps
        run: pnpm install
      - name: Build packages
        run: pnpm build
      - name: Run tests
        run: pnpm test:ci
